.wrapper {
  display: grid;
  grid-template-areas:
    'header header header header'
    'sidebar main main main';
  grid-template-columns: minmax(200px, 20%) auto;
  grid-template-rows: minmax(50px, 8%) auto;
  height: 100vh;
}

.topNavBar {
  grid-area: header;
  background-color: #24292e;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.sideBar {
  grid-area: sidebar;
  padding: 30px 15px;
  overflow: auto;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgb(230, 228, 228);
}

.main {
  grid-area: main;
  background-color: rgb(247, 247, 247);
  padding: 30px 15px;
}