html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100%;
  box-sizing: border-box;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-rows: minmax(50px, 20%) auto;
  border: 1px solid rgb(226, 225, 225);
  margin: auto;
}

.searchBar {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(226, 225, 225);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchBar form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: rgb(243, 242, 242);
  font-size: 14px;
  width: 90%;
  max-width: 300px;
}

.searchBar input:focus {
  background: white;
}

.main {
  display: grid;
  grid-template-areas:
    "displayMain displayMain displayMain sidebar1"
    "displayMain displayMain displayMain sidebar2";
  grid-template-rows: 50% 50%;
}

.displayMain {
  grid-area: displayMain;
}

.sidebar1 {
  grid-area: sidebar1;
}

.sidebar2 {
  grid-area: sidebar2;
}
